{
  "tagFormat": "${version}",
  "branch": "master",
  "plugins": [
    ["@json-schema-tools/semantic-release-transpiler", {
      "outpath": "./",
      "schemaLocation": "./src/schema.json",
      "languages": { "ts": true, "go": true, "rs": true, "py": true }
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "git add . && git commit -m \"chore(release): add newly generated typings\""
    }],
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git",
    "@semantic-release/npm"
  ],
  "verifyConditions": [
    ["@json-schema-tools/semantic-release-transpiler", {
      "outpath": "./",
      "schemaLocation": "./src/schema.json",
      "languages": { "ts": true, "go": true, "rs": true, "py": true }
    }],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "prepare": [
    ["@json-schema-tools/semantic-release-transpiler", {
      "outpath": "./",
      "schemaLocation": "./src/schema.json",
      "languages": { "ts": true, "go": true, "rs": true, "py": true }
    }],
    ["@semantic-release/exec", {
      "prepareCmd": "git add . && git commit -m \"chore(release): add newly generated typings\""
    }],
    "@semantic-release/changelog",
    "@semantic-release/git"
  ],
  "publish": [
    ["@semantic-release/github", {
      "assets": [
        "index.*",
        "schema.json"
      ]
    }],
    "@semantic-release/npm"
  ],
  "success": [
    "@semantic-release/github"
  ],
  "fail": [
    "@semantic-release/github"
  ]
}
